*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}

body > * {
  border: 1px solid red;
}

/* General settings */

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

:root {
  --simple-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

html {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.section-title {
  font-size: 2.2rem;
}

body > * {
  padding: 3em;
}

/* Header */

.header-container {
  display: flex;
  justify-content: center;
}

.image-container {
  position: relative;
}

.image-name {
  position: absolute;
  bottom: 15px;
  left: 40px;
  z-index: 1;

  color: white;
  font-size: 1.4rem;
}

.image-container .me-image {
  width: 220px;
  height: auto;

  z-index: 1;

  transform: translateX(20px);
}

.about {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;

  padding: 0.5em 0.5em 0.5em 2em;

  border-radius: 5px;

  max-width: 55%;

  box-shadow: var(--simple-shadow);
}

.about .icon-group {
  align-self: flex-end;
  font-size: 1.8rem;
}

.logo-button {
  border: none;
  border-radius: 5px;
  background: transparent;
}

/* Projects (main) */

a {
  color: black;
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 1em 7em;
}

.project-group {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  gap: 6em;
  justify-content: space-around;
}

.project {
  display: flex;
  flex-direction: column;
  gap: 10px;

  padding: 1.1em;
  padding-bottom: 4em;
}

.project-image {
  flex: 1;
}

.project {
  border: 1px solid blue;

  box-shadow: var(--simple-shadow);
}

.project-icon-group img {
  width: 25px;
}

.project-icon-group {
  display: flex;
  gap: 10px;
}

.project-below {
  display: flex;
  flex-direction: column;
}

.project-below > div:first-child {
  display: flex;
  justify-content: space-between;
}

/* Footer */

.footer-container {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  padding: 3em;
  padding-bottom: 0.5em;

  background-color: aqua;
}

.contact-image {
  max-width: 600px;
  height: auto;
}

.contact-info {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-icon {
  width: 30px;
}

.contact-info .icon-group {
  display: flex;
  font-size: 2em;
  gap: 20px;
}

.phone-container,
.mail-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* --------- Media Query  -------------*/

/* Tablet responsive */

@media (max-width: 1100px) {
  html {
    font-size: 14px;
  }

  .project-group {
    grid-template-columns: repeat(2, minmax(260px, 1fr));
  }

  .footer-container {
    align-items: center;
  }

  .contact-image {
    max-width: 400px;
  }
}

/* Mobile responsive */

@media (max-width: 700px) {
  html {
    font-size: 12px;
  }

  body > * {
    padding: 0;
  }

  main {
    align-items: center;
    padding: 1em 1em;
  }

  .project-group {
    justify-content: center;
    grid-template-columns: 1fr;
  }

  .footer-container {
    flex-direction: column;
    align-items: center;
    padding: 4em;
    margin: 0 auto;
  }

  .contact-image {
    max-width: 100%;
  }
}
